# Created by .ignore support plugin (hsz.mobi)
### Kotlin template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.gradle/6.3/vcsMetadata-1/
build/classes/kotlin/main/week1/poppingBalloon/BalloonChecker.class
build/classes/kotlin/main/week1/poppingBalloon/Popper$Companion.class
build/classes/kotlin/main/week1/poppingBalloon/Popper.class
build/classes/kotlin/test/week1/poppingBalloon/BalloonTest$balloon number should be between -1,000,000,000 and 1,000,000,000$1.class
build/classes/kotlin/test/week1/poppingBalloon/BalloonTest$balloon number should be between -1,000,000,000 and 1,000,000,000$2.class
build/classes/kotlin/test/week1/poppingBalloon/PopperTest.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be all numbers in array are integers from -1,000,000,000 to 1,000,000,000$1.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be all numbers in array are integers from -1,000,000,000 to 1,000,000,000$2.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be array size should be between 1 and 1,000,000$1.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be array size should be between 1 and 1,000,000$2.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be every number in array is different$1.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$createBalloons() should be every number in array is different$2.class
build/classes/kotlin/test/week1/poppingBalloon/PoppingBalloonTest$inlined$sam$i$org_junit_jupiter_api_function_Executable$0.class
build/kotlin/sessions/
build/reports/tests/test/classes/Gradle#20Test#20Executor#203.html
build/reports/tests/test/classes/week1.poppingBalloon.PopperTest.html
build/reports/tests/test/classes/week1.poppingBalloon.PoppingBalloonTest.html
build/reports/tests/test/packages/default-package.html
build/test-results/test/TEST-Gradle#20Test#20Executor#203.xml
build/test-results/test/TEST-week1.poppingBalloon.PopperTest.xml
build/test-results/test/TEST-week1.poppingBalloon.PoppingBalloonTest.xml
